*{
    box-sizing: border-box;
    background-color: #003864;
}

h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 20px;
}

.name, .phone, .comment {
    color: #101820;
    background-color: #fefefe;
    border-radius: 10px;
    height: 30px;
    width: 95%;
    border: none;
    padding-left: 15px;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
}

.test {
    margin-top: 0px;
}

.comment{
    padding-top: 5px;
    height: 90px;
}

.sendbtn {

}

